.gallery {
    list-style: none;

    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.material-icons {
    margin-top: 10px;
}

.stats {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.gallery-img {
    width: 100%;
    height: 240px;
}
.gallerry-item {
    margin-left: 20px;
    margin-top: 10px;
}

.search-form {
    margin-top: 50px;
    display: grid;
    justify-content: center;
}
.image-input {
    width: 200px;
    height: 30px;
    font-size: 20px;
}
.stats-item {
    text-align: center;
}
